.carousel-inner > .carousel-item > img {
  height: 800px; }

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/biblia.jpg);
  background-size: cover;
  color: #f7f2f2;
  border-radius: 0;
  margin-top: 50px;
  margin-bottom: 0px; }

.contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/cielo.jpg);
  background-size: cover;
  color: #f5da42;
  border-radius: 0;
  margin-top: 50px;
  margin-bottom: 25px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #007bff;
  color: #f54242;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-reflexion {
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-top: 25;
  margin-bottom: 0px; }

.link {
  color: #42f581; }

.link:hover {
  color: #42f581; }

.btn-leer {
  width: 100%; }

.cards {
  margin-top: 0;
  margin-bottom: 40px; }

#carouselInit {
  padding-top: 50px;
  padding-bottom: 0px; }
