$azul: #007bff;
$blanco: #f7f2f2;
$rojo: #f54242;
$amarillo: #f5da42;
$verde: #42f581;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top, $bottom){
	padding-top: $top;
	padding-bottom: $bottom;
}

.carousel-inner > .carousel-item > img {
    height: 800px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/img/biblia.jpg);
    background-size: cover;
    color: $blanco;
    border-radius: 0;
    @include margenes(50px, 0px);
}

.contacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/img/cielo.jpg);
    background-size: cover;
    color: $amarillo;
    border-radius: 0;
    @include margenes(50px, 25px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $azul;
    color: $rojo;
    @include margenes(10px, 0px);
}

.card-reflexion {
    padding: 2px 5px 2px 5px;
    @include margenes(10px, 0px);
    @include margenes(25, 0px);
}

.link {
    color: $verde;
}

.link:hover {
    color: $verde;
}

.btn-leer {
    width: 100%;
}

.cards {
    @include margenes(0, 40px);
}

#carouselInit {
   @include paddings(50px, 0px);
}
